<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
		 colors="true"
		 displayDetailsOnTestsThatTriggerWarnings="true">
	<testsuites>
		<testsuite name="Slendium Static Tests">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<source ignoreSelfDeprecations="true">
		<include>
			<directory>src</directory>
		</include>
	</source>
</phpunit>
